@font-face {
  font-family: "circular";
  src: url("../fonts/Circular-Book.woff") format('woff');
}

@font-face {
  font-family: "circular";
  src: url("../fonts/Circular-Bold.woff") format('woff');
  font-weight: bold;
}
